html
    head
        title Signup
    body
        if message
            h4 #{message}
        form(action="/register" method="POST")
            p username:
                input(name="username" type="text" required)
            p password:
                input(name="password" type="password" required)
            p role    :
                input(name="role" type="text" required)
            button(type="submit") Register
            p already registered !  #[a(href="/login") login] here
