html
    head
        title Signup
    body
        if(message)
            h4 #{message}
            p
                a(href="/protected") click here to go to protected page
            p
                a(href="/logout") to log out
